EgoHMR/data


orient_social.npy
person_dist.npy
joints_pred_60.npy
joints_pred_60_go.npy
joints_gt_60_go.npy
global_orient_onlyScene_list.npy
joints_gt_60.npy
translation_onlyScene_list.npy

*.npy
results_ours
__pycache__

deps
Dockerfile
requirements.txt

/data
datasets
experiments
results