absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
argcomplete==3.1.6
asttokens==3.0.0
async-timeout==5.0.1
attrs==23.2.0
autobahn==23.1.2
Automat==22.10.0
backcall==0.2.0
black==24.8.0
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
cachetools==5.5.0
certifi==2023.11.17
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.4.0
click==8.1.7
clip==1.0
cloudpickle==1.3.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
configer==1.3.1
configparser==6.0.0
constantly==23.10.4
contourpy==1.1.1
cryptography @ file:///croot/cryptography_1694444244250/work
cycler==0.12.1
Cython==0.29.36
datasets==3.1.0
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
dotmap==1.3.30
einops==0.8.0
ema-pytorch==0.0.10
evo==1.25.2
executing==2.1.0
fairscale==0.4.13
fasteners==0.19
filelock==3.16.1
fire==0.7.0
fonttools==4.44.1
freetype-py==2.4.0
frozenlist==1.5.0
fsspec==2024.9.0
ftfy==6.2.3
future==1.0.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.40
glfw==2.6.2
google-auth==2.37.0
google-auth-oauthlib==1.0.0
grpcio==1.68.1
gym==0.17.2
hkdf==0.0.3
huggingface-hub==0.25.2
# Editable install with no version control (human-body-prior==0.8.5.0)
-e /media/hdd/.miniconda3/envs/egoego_env/lib/python3.8/site-packages
humanize==4.9.0
hyperlink==21.0.0
idna @ file:///croot/idna_1666125576474/work
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-resources==6.1.1
importlib_metadata==8.5.0
incremental==22.10.0
iopath==0.1.10
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.3
lightning==2.1.3
lightning-utilities==0.10.1
llama==0.0.1
loguru==0.7.2
lz4==4.3.2
magic-wormhole==0.13.0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.3
matplotlib-inline==0.1.7
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath==1.3.0
mujoco-py==2.1.2.14
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
natsort==8.4.0
networkx==3.1
numexpr==2.8.6
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.161
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
omegaconf==2.3.0
opencv-python==4.8.1.78
packaging==24.2
pandas==2.0.3
parso==0.8.4
patchelf==0.17.2.1
pathspec==0.12.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///croot/pillow_1696580024257/work
platformdirs==4.3.6
portalocker==3.0.0
promise==2.3
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.29.2
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyDeprecate==0.3.1
pyglet==1.5.0
Pygments==2.18.0
PyNaCl==1.5.0
PyOpenGL==3.1.0
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.9.0.post0
pytorch-lightning==1.4.2
pytorch3d==0.3.0
pytz==2024.2
PyWavelets==1.4.1
PyYAML==5.1.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rosbags==0.9.16
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
safetensors==0.4.5
scenepic==1.0.8
scikit-image==0.20.0
scikit-learn==1.3.2
scipy==1.9.1
seaborn==0.13.0
sentencepiece==0.2.0
sentry-sdk==1.35.0
service-identity==24.1.0
setproctitle==1.3.3
shortuuid==1.0.11
six==1.16.0
smmap==5.0.1
smplx==0.1.28
spake2==0.8
stack-data==0.6.3
sympy==1.13.3
tabulate==0.9.0
taming-transformers==0.0.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tomli==2.2.1
torch==2.4.1
torchaudio==0.11.0
torchgeometry==0.1.2
torchmetrics==0.6.0
torchvision==0.19.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets==5.14.3
transforms3d==0.4.1
trimesh==4.0.4
triton==3.0.0
Twisted==23.10.0
txaio==23.1.1
txtorcon==23.11.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3 @ file:///croot/urllib3_1698257533958/work
wandb==0.12.21
wcwidth==0.2.13
Werkzeug==3.0.6
xxhash==3.5.0
yacs==0.1.8
yarl==1.15.2
zipp==3.20.2
zope.interface==6.1
zstandard==0.22.0
